<div id="shopify-section-template--23045103190345__ss_testimonials_30_ktwRiz" class="shopify-section">
  <style data-shopify="">
    @font-face {
      font-family: "ITC Galliard";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("//section.store/cdn/fonts/itc_galliard/itcgalliard_n4.3a4d2cb0a9fa3a1839e9014dfcf4964f2654ec02.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=2c9377bcf536de67484790e1134009f5b11ac358724f3f9722abe7d6751efcbc") format("woff2"),
        url("//section.store/cdn/fonts/itc_galliard/itcgalliard_n4.0bfc779b9f10ebb598422909b6a00ea321d54d9b.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=0fa27d1d76ae708aa14d4d79e47e42a524e69bd3135c6b4e1e22ccb980695a1e") format("woff");
    }

    @font-face {
      font-family: "Josefin Sans";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("//section.store/cdn/fonts/josefin_sans/josefinsans_n4.c8300d95fd4ce72542a6efba9c682da40d144fba.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=1081bc13bac779d73b77022741d8b8608aa5451af6a05907fc023625940c00f1") format("woff2"),
        url("//section.store/cdn/fonts/josefin_sans/josefinsans_n4.ed7230a86e75b34b997bd12a5e1b87fcaf7104d8.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=3f19a3e11bab2423756ce410220df09957f15affd53a78fa0ec435e5660aa636") format("woff");
    }

    @font-face {
      font-family: "ITC Galliard";
      font-weight: 400;
      font-style: italic;
      font-display: swap;
      src: url("//section.store/cdn/fonts/itc_galliard/itcgalliard_i4.c863574e609471613eaee3981fdc901856754818.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=6078761e5cba3c897dd2b9c3efcf5d03659066438fb0ab118bd966d006a66398") format("woff2"),
        url("//section.store/cdn/fonts/itc_galliard/itcgalliard_i4.82dab184e82d2f9306499d9f8ce465a12c424aef.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=03dfab72c96e9c22e8e74eff772e43def8e666222305679306638a352f6e4c60") format("woff");
    }

    @font-face {
      font-family: "Josefin Sans";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("//section.store/cdn/fonts/josefin_sans/josefinsans_n4.c8300d95fd4ce72542a6efba9c682da40d144fba.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=1081bc13bac779d73b77022741d8b8608aa5451af6a05907fc023625940c00f1") format("woff2"),
        url("//section.store/cdn/fonts/josefin_sans/josefinsans_n4.ed7230a86e75b34b997bd12a5e1b87fcaf7104d8.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=3f19a3e11bab2423756ce410220df09957f15affd53a78fa0ec435e5660aa636") format("woff");
    }

    @font-face {
      font-family: Montserrat;
      font-weight: 500;
      font-style: normal;
      font-display: swap;
      src: url("//section.store/cdn/fonts/montserrat/montserrat_n5.e72d00d31ae5399d260a80ec70322c62c1819762.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=6b722272f1969402ec0c2e422160c3529ba3d9a3b30d97bf75804fa874c5e43a") format("woff2"),
        url("//section.store/cdn/fonts/montserrat/montserrat_n5.18a018b6c83e89030c5d70a6d4c02c969f228500.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=2717b43f7beedd951b2439a0cd5b2d96e6fa41bed504e412e1fec04f25b8daef") format("woff");
    }


    .section-template--23045103190345__ss_testimonials_30_ktwRiz {
      border-top: solid #000000 0px;
      border-bottom: solid #000000 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0rem;
      margin-right: 0rem;
      border-radius: 0px;
      overflow: hidden;
    }

    .section-template--23045103190345__ss_testimonials_30_ktwRiz-settings {
      margin: 0 auto;
      padding-top: 27px;
      padding-bottom: 27px;
      padding-left: 0rem;
      padding-right: 0rem;
      position: relative;
    }

    .testimonials-heading-template--23045103190345__ss_testimonials_30_ktwRiz {
      text-align: left;
      padding: 0 16px;
    }

    .testimonials-heading-template--23045103190345__ss_testimonials_30_ktwRiz * {
      margin: 0px;
      font-size: 28px;
      line-height: 130%;
      color: #000000;
      text-transform: unset;
      word-break: break-word;
      font-weight: 700;
    }

    .testimonials-subheading-template--23045103190345__ss_testimonials_30_ktwRiz {
      margin-top: 8px;
      text-align: left;
      padding: 0 16px;
    }

    .testimonials-subheading-template--23045103190345__ss_testimonials_30_ktwRiz * {
      margin: 0px;
      font-size: 14px;
      line-height: 150%;
      color: #868686;
      text-transform: unset;
      word-break: break-word;
    }

    .testimonials-scrolling-template--23045103190345__ss_testimonials_30_ktwRiz {
      margin-top: 24px;
      overflow: hidden;
    }

    .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: 200vw;
      position: relative;
      z-index: 0;
      left: -100vw;
      gap: 10px;
      background-attachment: scroll !important;

    }

    .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz:first-child .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
      -webkit-animation: tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz 144s infinite linear;
      animation: tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz 144s infinite linear;
    }

    .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz:last-child .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
      -webkit-animation: tickerDowntemplate23045103190345__ss_testimonials_30_ktwRiz 144s infinite linear;
      animation: tickerDowntemplate23045103190345__ss_testimonials_30_ktwRiz 144s infinite linear;
      margin-top: 10px;
    }

    .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      white-space: nowrap;
      background-attachment: scroll !important;
      gap: 10px;
      flex-shrink: 0;
      -webkit-animation: tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz 48s infinite linear;
      animation: tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz 48s infinite linear;
    }

    .testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz {
      flex-shrink: 0;
      width: 450px;
      border: 0px solid #f6eeed;
      border-radius: 12px;
      background-color: #d0e5d5;
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      overflow: hidden;
    }

    .testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz {
      flex: 1 0;
      box-sizing: border-box;
      padding: 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz {
      height: 100%;
      flex: 1 0;
      border-radius: px;
      overflow: hidden;
    }

    .testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz img,
    .testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz svg {
      background-color: #AFAFAF;
    }

    .testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
      margin-top: 10px;
      font-size: 12px;
      color: #222222;
      line-height: 130%;
      text-transform: unset;
      word-wrap: break-word;
      text-align: left;
      font-weight: 700;
    }

    .testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz::before {
      content: '';
      width: 100px;
      height: 1px;
      background-color: #9c5455;
    }

    .testimonials-title-template--23045103190345__ss_testimonials_30_ktwRiz {
      margin: 0;
      margin-top: px;
      font-size: 16px;
      color: #222222;
      line-height: 130%;
      text-transform: unset;
      word-wrap: break-word;
      text-align: left;
    }

    .testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz {
      margin-top: 10px;
      text-align: left;
      text-wrap: wrap;
    }

    .testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz * {
      margin: 0;
      font-size: 12px;
      color: #878787;
      line-height: 160%;
      text-transform: unset;
      text-decoration: none;
    }

    .testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz {
      display: flex;
      align-items: end;
      justify-content: start;
      gap: 4px;
      margin-top: 6px;
    }

    .testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz svg,
    .testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz img {
      display: block;
      width: 16px;
      height: 16px;
      object-fit: cover;
    }

    .testimonials-circle-icon-template--23045103190345__ss_testimonials_30_ktwRiz {
      width: px;
      height: px;
    }

    .testimonials-circle-icon-template--23045103190345__ss_testimonials_30_ktwRiz img,
    .testimonials-circle-icon-template--23045103190345__ss_testimonials_30_ktwRiz svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .testimonials-circle-icon-template--23045103190345__ss_testimonials_30_ktwRiz svg path {
      fill: ;
    }

    .testimonials-circle-icon-template--23045103190345__ss_testimonials_30_ktwRiz svg circle {
      stroke: ;
    }

    @media(min-width: 1024px) {

      .section-template--23045103190345__ss_testimonials_30_ktwRiz {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0rem;
        margin-right: 0rem;
        border-radius: 0px;
      }

      .section-template--23045103190345__ss_testimonials_30_ktwRiz-settings {
        padding: 0 5rem;
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: 0rem;
        padding-right: 0rem;
      }

      .testimonials-heading-template--23045103190345__ss_testimonials_30_ktwRiz {
        text-align: left;
        padding: 0 50px;
      }

      .testimonials-heading-template--23045103190345__ss_testimonials_30_ktwRiz * {
        font-size: 36px;
      }

      .testimonials-subheading-template--23045103190345__ss_testimonials_30_ktwRiz {
        margin-top: 12px;
        text-align: left;
        padding: 0 50px;
      }

      .testimonials-subheading-template--23045103190345__ss_testimonials_30_ktwRiz * {
        font-size: 16px;
      }


      .testimonials-scrolling-template--23045103190345__ss_testimonials_30_ktwRiz {
        margin-top: 32px;
      }

      .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz {
        gap: 10px;
      }

      .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz:first-child .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
        -webkit-animation: tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz 171s infinite linear;
        animation: tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz 171s infinite linear;
      }

      .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz:last-child .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
        -webkit-animation: tickerDowntemplate23045103190345__ss_testimonials_30_ktwRiz 171s infinite linear;
        animation: tickerDowntemplate23045103190345__ss_testimonials_30_ktwRiz 171s infinite linear;
        margin-top: 10px;
      }

      .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
        gap: 10px;
      }

      .testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz {
        width: 600px;
      }

      .testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz {
        padding: 20px 20px;
        justify-content: start;
      }

      .testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz {
        justify-content: start;
        margin-top: 10px;
        font-size: 14px;
        text-align: left;
      }

      .testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz::before {
        width: 50px;
      }

      .testimonials-title-template--23045103190345__ss_testimonials_30_ktwRiz {
        margin-top: px;
        font-size: 18px;
        text-align: left;
      }

      .testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz {
        margin-top: 18px;
        text-align: left;
      }

      .testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz * {
        font-size: 13px;
      }

      .testimonials-bottom-template--23045103190345__ss_testimonials_30_ktwRiz {
        margin-top: 6px;
      }

      .testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz {
        justify-content: start;
        margin-top: 6px;
      }

      .testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz svg,
      .testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz img {
        width: 18px;
        height: 18px;
      }

      .testimonials-circle-icon-template--23045103190345__ss_testimonials_30_ktwRiz {
        width: px;
        height: px;
      }
    }
  </style>










  <style>
    .testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz {
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      font-style: normal;
    }
  </style>







  <style>
    @keyframes tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz {
      0% {
        transform: translateX(0%);
      }

      100% {
        transform: translateX(-100%);
      }
    }

    @keyframes tickerDowntemplate23045103190345__ss_testimonials_30_ktwRiz {
      0% {
        transform: translateX(-100%);
      }

      100% {
        transform: translateX(0%);
      }
    }
  </style>



  <style>
    .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz:hover .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
      animation-play-state: paused;
    }
  </style>








  <div class="section-template--23045103190345__ss_testimonials_30_ktwRiz testimonials-template--23045103190345__ss_testimonials_30_ktwRiz" style="background-color:#ffffff; background-image: ;">
    <div class="section-template--23045103190345__ss_testimonials_30_ktwRiz-settings">
      <div class="testimonials-subheading-template--23045103190345__ss_testimonials_30_ktwRiz" <="" div="">

      <div class="testimonials-scrolling-template--23045103190345__ss_testimonials_30_ktwRiz">
        <div class="testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz">


          <div class="testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz">


            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image1 != blank -%}
        {{- section.settings.image1 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext1 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext2 }}</p>
                </div>


                <p class="card-text">{{ section.settings.richtext3 }}</p>

              </div>
            </a>

            <a href="/pages/404-2" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image2 != blank -%}
        {{- section.settings.image2 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext4 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <defs>
                      <linearGradient id="gradtemplate--23045103190345__ss_testimonials_30_ktwRiz10">
                        <stop offset="0%" stop-color="#9c5455"></stop>
                        <stop offset="50%" stop-color="#9c5455"></stop>
                        <stop offset="50%" stop-color="transparent"></stop>
                        <stop offset="100%" stop-color="transparent"></stop>
                      </linearGradient>
                    </defs>

                    <path stroke="#9c5455" d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="url(#gradtemplate--23045103190345__ss_testimonials_30_ktwRiz10)"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext5 }}</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Véronique.C
                </p>

              </div>
            </a>

            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image3 != blank -%}
        {{- section.settings.image3 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext6 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext7 }}</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Amandine.S
                </p>

              </div>
            </a>
            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image4 != blank -%}
        {{- section.settings.image4 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext8 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext9 }}</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Laura.J
                </p>

              </div>
            </a>

            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image5 != blank -%}
        {{- section.settings.image5 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext10 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>
                


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext11 }}</p>
                </div>


                <p class="card-text">{{ section.settings.richtext12 }}</p>

              </div>
            </a>

            <a href="/pages/404-2" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image6 != blank -%}
        {{- section.settings.image6 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext13 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <defs>
                      <linearGradient id="gradtemplate--23045103190345__ss_testimonials_30_ktwRiz10">
                        <stop offset="0%" stop-color="#9c5455"></stop>
                        <stop offset="50%" stop-color="#9c5455"></stop>
                        <stop offset="50%" stop-color="transparent"></stop>
                        <stop offset="100%" stop-color="transparent"></stop>
                      </linearGradient>
                    </defs>

                    <path stroke="#9c5455" d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="url(#gradtemplate--23045103190345__ss_testimonials_30_ktwRiz10)"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext14 }}</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Véronique.C
                </p>

              </div>
            </a>

            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image7 != blank -%}
        {{- section.settings.image7 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext15 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext16 }}</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Amandine.S
                </p>

              </div>
            </a>
            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image8 != blank -%}
        {{- section.settings.image8 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext17 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext18 }}</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Laura.J
                </p>

              </div>
            </a>


          </div>


        </div>

        <!-- Deuxième ligne d'avis-->

        <div class="testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz">

          <div class="testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz">



            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image9 != blank -%}
        {{- section.settings.image9 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="testimonials-title-template--23045103190345__ss_testimonials_30_ktwRiz">Toujours dans mon sac, hyper pratique !
                </p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext19 }}</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Adeline.D
                </p>

              </div>
            </a>
            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image10 != blank -%}
        {{- section.settings.image10 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="testimonials-title-template--23045103190345__ss_testimonials_30_ktwRiz">Un rinçage et il est comme neuf !
                </p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext20 }}</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Laure.M
                </p>

              </div>
            </a>
            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image11 != blank -%}
        {{- section.settings.image11 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext21 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext22 }}</p>
                </div>


                <p class="card-text">{{ section.settings.richtext23 }}</p>

              </div>
            </a>


            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image12 != blank -%}
        {{- section.settings.image12 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext24 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext25 }}</p>
                </div>


                <p class="card-text">{{ section.settings.richtext26 }}</p>

              </div>
            </a>




            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image13 != blank -%}
        {{- section.settings.image13 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext27 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext28 }}</p>
                </div>


                <p class="card-text">{{ section.settings.richtext29 }}</p>

              </div>
            </a>

            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image14 != blank -%}
        {{- section.settings.image14 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext30 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext31 }}</p>
                </div>


                <p class="card-text">{{ section.settings.richtext32 }}</p>

              </div>
            </a>
            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image15 != blank -%}
        {{- section.settings.image15 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="testimonials-title-template--23045103190345__ss_testimonials_30_ktwRiz">Toujours dans mon sac, hyper pratique !
                </p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext33 }}</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Adeline.D
                </p>

              </div>
            </a>
            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image16 != blank -%}
        {{- section.settings.image16 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="testimonials-title-template--23045103190345__ss_testimonials_30_ktwRiz">Un rinçage et il est comme neuf !
                </p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext34 }}</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Laure.M
                </p>

              </div>
            </a>
            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image17 != blank -%}
        {{- section.settings.image17 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext35 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext36 }}</p>
                </div>


                <p class="card-text">{{ section.settings.richtext37 }}</p>

              </div>
            </a>


            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image18 != blank -%}
        {{- section.settings.image18 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext38 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext39 }}</p>
                </div>


                <p class="card-text">{{ section.settings.richtext40 }}</p>

              </div>
            </a>




            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image19 != blank -%}
        {{- section.settings.image19 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext41 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext42 }}</p>
                </div>


                <p class="card-text">{{ section.settings.richtext43 }}</p>

              </div>
            </a>

            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image20 != blank -%}
        {{- section.settings.image20 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext44 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p class="card-text">{{ section.settings.richtext45 }}</p>
                </div>


                <p class="card-text">{{ section.settings.richtext46 }}</p>

              </div>
            </a>

          </div>

        </div>

      </div>
    </div>
  </div>

</div></div>

{% schema %}
{
    "name": "avis",
    "settings": [
        {
            "type": "image_picker",
            "id": "image1",
            "label": "Image 1"
        },
        {
            "type": "image_picker",
            "id": "image2",
            "label": "Image 2"
        },
        {
            "type": "image_picker",
            "id": "image3",
            "label": "Image 3"
        },
        {
            "type": "image_picker",
            "id": "image4",
            "label": "Image 4"
        },
        {
            "type": "image_picker",
            "id": "image5",
            "label": "Image 5"
        },
        {
            "type": "image_picker",
            "id": "image6",
            "label": "Image 6"
        },
        {
            "type": "image_picker",
            "id": "image7",
            "label": "Image 7"
        },
        {
            "type": "image_picker",
            "id": "image8",
            "label": "Image 8"
        },
        {
            "type": "image_picker",
            "id": "image9",
            "label": "Image 9"
        },
        {
            "type": "image_picker",
            "id": "image10",
            "label": "Image 10"
        },
        {
            "type": "image_picker",
            "id": "image11",
            "label": "Image 11"
        },
        {
            "type": "image_picker",
            "id": "image12",
            "label": "Image 12"
        },
        {
            "type": "image_picker",
            "id": "image13",
            "label": "Image 13"
        },
        {
            "type": "image_picker",
            "id": "image14",
            "label": "Image 14"
        },
        {
            "type": "image_picker",
            "id": "image15",
            "label": "Image 15"
        },
        {
            "type": "image_picker",
            "id": "image16",
            "label": "Image 16"
        },
        {
            "type": "image_picker",
            "id": "image17",
            "label": "Image 17"
        },
        {
            "type": "image_picker",
            "id": "image18",
            "label": "Image 18"
        },
        {
            "type": "image_picker",
            "id": "image19",
            "label": "Image 19"
        },
        {
            "type": "image_picker",
            "id": "image20",
            "label": "Image 20"
        },
        {
            "type": "richtext",
            "id": "richtext1",
            "label": "Richtext 1",
            "default": "<p>Un achat malin pour économiser et protéger la planète !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext2",
            "label": "Richtext 2",
            "default": "<p>Je faisais partie de ceux qui achetaient régulièrement des rouleaux jetables, mais ce rouleau réutilisable change tout. Il fait le job aussi bien, si ce n’est mieux, et je peux l'utiliser plusieurs fois. C’est un investissement vraiment utile, plus économique et écologique. Plus de gaspillage, et mes vêtements restent propres !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext3",
            "label": "Richtext 3",
            "default": "<p>Sabrina.P</p>"
        },
        {
            "type": "richtext",
            "id": "richtext4",
            "label": "Richtext 4",
            "default": "<p>J’en ai fini avec les rouleaux jetables !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext5",
            "label": "Richtext 5",
            "default": "<p>J'en avais marre de devoir acheter des rouleaux jetables tout le temps. Celui-ci est une vraie révolution ! Il est super efficace et surtout réutilisable. Finis les achats incessants je ne reviendrai plus jamais en arrière !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext6",
            "label": "Richtext 6",
            "default": "<p>Les poils, c’est fini !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext7",
            "label": "Richtext 7",
            "default": "<p>Avoir deux chats, c’est super, mais entre les poils sur les vêtements et dans la maison, c’est une galère. Ce rouleau fait vraiment la différence ! Il est facile à utiliser et super efficace. Je suis vraiment content de mon achat !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext8",
            "label": "Richtext 8",
            "default": "<p>L’outil anti-poils que je cherchais !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext9",
            "label": "Richtext 9",
            "default": "<p>Si vous avez un chat, vous savez très bien de quoi je parle : les poils partout ! Ce rouleau m’a sauvé la vie. Fini de me battre pour enlever les poils, il est super rapide et efficace. Et en plus, il est facile à emporter partout. Je suis vraiment ravi !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext10",
            "label": "Richtext 10",
            "default": "<p>Un achat malin pour économiser et protéger la planète !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext11",
            "label": "Richtext 11",
            "default": "<p>Je faisais partie de ceux qui achetaient régulièrement des rouleaux jetables, mais ce rouleau réutilisable change tout. Il fait le job aussi bien, si ce n’est mieux, et je peux l'utiliser plusieurs fois. C’est un investissement vraiment utile, plus économique et écologique. Plus de gaspillage, et mes vêtements restent propres !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext12",
            "label": "Richtext 12",
            "default": "<p>Sabrina.P</p>"
        },
        {
            "type": "richtext",
            "id": "richtext13",
            "label": "Richtext 13",
            "default": "<p>J’en ai fini avec les rouleaux jetables !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext14",
            "label": "Richtext 14",
            "default": "<p>J'en avais marre de devoir acheter des rouleaux jetables tout le temps. Celui-ci est une vraie révolution ! Il est super efficace et surtout réutilisable. Finis les achats incessants je ne reviendrai plus jamais en arrière !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext15",
            "label": "Richtext 15",
            "default": "<p>Les poils, c’est fini !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext16",
            "label": "Richtext 16",
            "default": "<p>Avoir deux chats, c’est super, mais entre les poils sur les vêtements et dans la maison, c’est une galère. Ce rouleau fait vraiment la différence ! Il est facile à utiliser et super efficace. Je suis vraiment content de mon achat !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext17",
            "label": "Richtext 17",
            "default": "<p>L’outil anti-poils que je cherchais !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext18",
            "label": "Richtext 18",
            "default": "<p>Si vous avez un chat, vous savez très bien de quoi je parle : les poils partout ! Ce rouleau m’a sauvé la vie. Fini de me battre pour enlever les poils, il est super rapide et efficace. Et en plus, il est facile à emporter partout. Je suis vraiment ravi !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext19",
            "label": "Richtext 19",
            "default": "<p>Avant, je me retrouvais souvent avec des poils sur mes vêtements en arrivant chez des amis ou en soirée. Maintenant, j’ai ce rouleau toujours sur moi, et en deux secondes, mes fringues sont impeccables ! Il est petit, léger, et franchement ultra pratique. Je ne sors plus sans !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext20",
            "label": "Richtext 20",
            "default": "<p>Ce rouleau est hyper pratique : un coup sous l’eau et il retrouve toute son efficacité, sans galère ni effort. Plus besoin d’acheter des recharges, il est toujours prêt à l’usage. Simple, rapide et ultra efficace, je ne peux plus m’en passer</p>"
        },
        {
            "type": "richtext",
            "id": "richtext21",
            "label": "Richtext 21",
            "default": "<p>Un rouleau que j’aurais dû acheter bien plus tôt !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext22",
            "label": "Richtext 22",
            "default": "<p>'étais un peu sceptique au début, mais franchement, je suis agréablement surpris. Ce rouleau est super efficace, il attrape même les poils les plus récalcitrants de mon chat. Fini de devoir en acheter tout le temps, celui-ci dure et fait vraiment bien le job. Je le recommande sans hésiter !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext23",
            "label": "Richtext 23",
            "default": "<p>Sabine.M</p>"
        },
        {
            "type": "richtext",
            "id": "richtext24",
            "label": "Richtext 24",
            "default": "<p>Le rouleau qui me sauve la vie</p>"
        },
        {
            "type": "richtext",
            "id": "richtext25",
            "label": "Richtext 25",
            "default": "<p>Honnêtement, je n’y croyais pas trop au début, mais ce rouleau fonctionne vraiment bien. Il enlève les poils en un rien de temps, sans laisser de traces sur mes vêtements. C’est simple, rapide, et vraiment efficace. Je ne le quitte plus !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext26",
            "label": "Richtext 26",
            "default": "<p>Mathilde.S</p>"
        },
        {
            "type": "richtext",
            "id": "richtext27",
            "label": "Richtext 27",
            "default": "<p>Je ne peux plus m’en passer !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext28",
            "label": "Richtext 28",
            "default": "<p>Depuis que j’ai ce rouleau, je n’ai plus de poils sur mes vêtements. C’était devenu un vrai casse-tête avant. Mais là, c’est simple et rapide. Un produit vraiment pratique et qui fait son job. Je le conseille à tous les propriétaires d’animaux !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext29",
            "label": "Richtext 29",
            "default": "<p>Laurent.R</p>"
        },
        {
            "type": "richtext",
            "id": "richtext30",
            "label": "Richtext 30",
            "default": "<p>Un rouleau hyper pratique et efficace !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext31",
            "label": "Richtext 31",
            "default": "<p>C'est simple, ce rouleau fait exactement ce qu’il promet. Il enlève même les poils les plus tenaces, et sans laisser de résidus. Très satisfait de mon achat, il est rapide à utiliser et pratique. C'est exactement ce dont j'avais besoin.</p>"
        },
        {
            "type": "richtext",
            "id": "richtext32",
            "label": "Richtext 32",
            "default": "<p>Samia.A</p>"
        },
        {
            "type": "richtext",
            "id": "richtext33",
            "label": "Richtext 33",
            "default": "<p>Avant, je me retrouvais souvent avec des poils sur mes vêtements en arrivant chez des amis ou en soirée. Maintenant, j’ai ce rouleau toujours sur moi, et en deux secondes, mes fringues sont impeccables ! Il est petit, léger, et franchement ultra pratique. Je ne sors plus sans !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext34",
            "label": "Richtext 34",
            "default": "<p>Ce rouleau est hyper pratique : un coup sous l’eau et il retrouve toute son efficacité, sans galère ni effort. Plus besoin d’acheter des recharges, il est toujours prêt à l’usage. Simple, rapide et ultra efficace, je ne peux plus m’en passer</p>"
        },
        {
            "type": "richtext",
            "id": "richtext35",
            "label": "Richtext 35",
            "default": "<p>Un rouleau que j’aurais dû acheter bien plus tôt !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext36",
            "label": "Richtext 36",
            "default": "<p>'étais un peu sceptique au début, mais franchement, je suis agréablement surpris. Ce rouleau est super efficace, il attrape même les poils les plus récalcitrants de mon chat. Fini de devoir en acheter tout le temps, celui-ci dure et fait vraiment bien le job. Je le recommande sans hésiter !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext37",
            "label": "Richtext 37",
            "default": "<p>Sabine.M</p>"
        },
        {
            "type": "richtext",
            "id": "richtext38",
            "label": "Richtext 38",
            "default": "<p>Le rouleau qui me sauve la vie</p>"
        },
        {
            "type": "richtext",
            "id": "richtext39",
            "label": "Richtext 39",
            "default": "<p>Honnêtement, je n’y croyais pas trop au début, mais ce rouleau fonctionne vraiment bien. Il enlève les poils en un rien de temps, sans laisser de traces sur mes vêtements. C’est simple, rapide, et vraiment efficace. Je ne le quitte plus !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext40",
            "label": "Richtext 40",
            "default": "<p>Mathilde.S</p>"
        },
        {
            "type": "richtext",
            "id": "richtext41",
            "label": "Richtext 41",
            "default": "<p>Je ne peux plus m’en passer !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext42",
            "label": "Richtext 42",
            "default": "<p>Depuis que j’ai ce rouleau, je n’ai plus de poils sur mes vêtements. C’était devenu un vrai casse-tête avant. Mais là, c’est simple et rapide. Un produit vraiment pratique et qui fait son job. Je le conseille à tous les propriétaires d’animaux !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext43",
            "label": "Richtext 43",
            "default": "<p>Laurent.R</p>"
        },
        {
            "type": "richtext",
            "id": "richtext44",
            "label": "Richtext 44",
            "default": "<p>Un rouleau hyper pratique et efficace !</p>"
        },
        {
            "type": "richtext",
            "id": "richtext45",
            "label": "Richtext 45",
            "default": "<p>C'est simple, ce rouleau fait exactement ce qu’il promet. Il enlève même les poils les plus tenaces, et sans laisser de résidus. Très satisfait de mon achat, il est rapide à utiliser et pratique. C'est exactement ce dont j'avais besoin.</p>"
        },
        {
            "type": "richtext",
            "id": "richtext46",
            "label": "Richtext 46",
            "default": "<p>Samia.A</p>"
        }
    ],
    "presets": [
        {
            "name": "avis"
        }
    ]
}
{% endschema %}