<div id="shopify-section-template--23045103190345__ss_testimonials_30_ktwRiz" class="shopify-section">
  <style data-shopify="">
    @font-face {
      font-family: "ITC Galliard";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("//section.store/cdn/fonts/itc_galliard/itcgalliard_n4.3a4d2cb0a9fa3a1839e9014dfcf4964f2654ec02.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=2c9377bcf536de67484790e1134009f5b11ac358724f3f9722abe7d6751efcbc") format("woff2"),
        url("//section.store/cdn/fonts/itc_galliard/itcgalliard_n4.0bfc779b9f10ebb598422909b6a00ea321d54d9b.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=0fa27d1d76ae708aa14d4d79e47e42a524e69bd3135c6b4e1e22ccb980695a1e") format("woff");
    }

    @font-face {
      font-family: "Josefin Sans";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("//section.store/cdn/fonts/josefin_sans/josefinsans_n4.c8300d95fd4ce72542a6efba9c682da40d144fba.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=1081bc13bac779d73b77022741d8b8608aa5451af6a05907fc023625940c00f1") format("woff2"),
        url("//section.store/cdn/fonts/josefin_sans/josefinsans_n4.ed7230a86e75b34b997bd12a5e1b87fcaf7104d8.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=3f19a3e11bab2423756ce410220df09957f15affd53a78fa0ec435e5660aa636") format("woff");
    }

    @font-face {
      font-family: "ITC Galliard";
      font-weight: 400;
      font-style: italic;
      font-display: swap;
      src: url("//section.store/cdn/fonts/itc_galliard/itcgalliard_i4.c863574e609471613eaee3981fdc901856754818.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=6078761e5cba3c897dd2b9c3efcf5d03659066438fb0ab118bd966d006a66398") format("woff2"),
        url("//section.store/cdn/fonts/itc_galliard/itcgalliard_i4.82dab184e82d2f9306499d9f8ce465a12c424aef.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=03dfab72c96e9c22e8e74eff772e43def8e666222305679306638a352f6e4c60") format("woff");
    }

    @font-face {
      font-family: "Josefin Sans";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("//section.store/cdn/fonts/josefin_sans/josefinsans_n4.c8300d95fd4ce72542a6efba9c682da40d144fba.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=1081bc13bac779d73b77022741d8b8608aa5451af6a05907fc023625940c00f1") format("woff2"),
        url("//section.store/cdn/fonts/josefin_sans/josefinsans_n4.ed7230a86e75b34b997bd12a5e1b87fcaf7104d8.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=3f19a3e11bab2423756ce410220df09957f15affd53a78fa0ec435e5660aa636") format("woff");
    }

    @font-face {
      font-family: Montserrat;
      font-weight: 500;
      font-style: normal;
      font-display: swap;
      src: url("//section.store/cdn/fonts/montserrat/montserrat_n5.e72d00d31ae5399d260a80ec70322c62c1819762.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=6b722272f1969402ec0c2e422160c3529ba3d9a3b30d97bf75804fa874c5e43a") format("woff2"),
        url("//section.store/cdn/fonts/montserrat/montserrat_n5.18a018b6c83e89030c5d70a6d4c02c969f228500.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=2717b43f7beedd951b2439a0cd5b2d96e6fa41bed504e412e1fec04f25b8daef") format("woff");
    }


    .section-template--23045103190345__ss_testimonials_30_ktwRiz {
      border-top: solid #000000 0px;
      border-bottom: solid #000000 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0rem;
      margin-right: 0rem;
      border-radius: 0px;
      overflow: hidden;
    }

    .section-template--23045103190345__ss_testimonials_30_ktwRiz-settings {
      margin: 0 auto;
      padding-top: 27px;
      padding-bottom: 27px;
      padding-left: 0rem;
      padding-right: 0rem;
      position: relative;
    }

    .testimonials-heading-template--23045103190345__ss_testimonials_30_ktwRiz {
      text-align: left;
      padding: 0 16px;
    }

    .testimonials-heading-template--23045103190345__ss_testimonials_30_ktwRiz * {
      margin: 0px;
      font-size: 28px;
      line-height: 130%;
      color: #000000;
      text-transform: unset;
      word-break: break-word;
      font-weight: 700;
    }

    .testimonials-subheading-template--23045103190345__ss_testimonials_30_ktwRiz {
      margin-top: 8px;
      text-align: left;
      padding: 0 16px;
    }

    .testimonials-subheading-template--23045103190345__ss_testimonials_30_ktwRiz * {
      margin: 0px;
      font-size: 14px;
      line-height: 150%;
      color: #868686;
      text-transform: unset;
      word-break: break-word;
    }

    .testimonials-scrolling-template--23045103190345__ss_testimonials_30_ktwRiz {
      margin-top: 24px;
      overflow: hidden;
    }

    .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: 200vw;
      position: relative;
      z-index: 0;
      left: -100vw;
      gap: 10px;
      background-attachment: scroll !important;

    }

    .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz:first-child .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
      -webkit-animation: tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz 144s infinite linear;
      animation: tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz 144s infinite linear;
    }

    .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz:last-child .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
      -webkit-animation: tickerDowntemplate23045103190345__ss_testimonials_30_ktwRiz 144s infinite linear;
      animation: tickerDowntemplate23045103190345__ss_testimonials_30_ktwRiz 144s infinite linear;
      margin-top: 10px;
    }

    .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      white-space: nowrap;
      background-attachment: scroll !important;
      gap: 10px;
      flex-shrink: 0;
      -webkit-animation: tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz 48s infinite linear;
      animation: tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz 48s infinite linear;
    }

    .testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz {
      flex-shrink: 0;
      width: 450px;
      border: 0px solid #f6eeed;
      border-radius: 12px;
      background-color: #f6eeed;
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      overflow: hidden;
    }

    .testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz {
      flex: 1 0;
      box-sizing: border-box;
      padding: 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz {
      height: 100%;
      flex: 1 0;
      border-radius: px;
      overflow: hidden;
    }

    .testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz img,
    .testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz svg {
      background-color: #AFAFAF;
    }

    .testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
      margin-top: 10px;
      font-size: 12px;
      color: #222222;
      line-height: 130%;
      text-transform: unset;
      word-wrap: break-word;
      text-align: left;
      font-weight: 700;
    }

    .testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz::before {
      content: '';
      width: 100px;
      height: 1px;
      background-color: #9c5455;
    }

    .testimonials-title-template--23045103190345__ss_testimonials_30_ktwRiz {
      margin: 0;
      margin-top: px;
      font-size: 16px;
      color: #222222;
      line-height: 130%;
      text-transform: unset;
      word-wrap: break-word;
      text-align: left;
    }

    .testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz {
      margin-top: 10px;
      text-align: left;
      text-wrap: wrap;
    }

    .testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz * {
      margin: 0;
      font-size: 12px;
      color: #878787;
      line-height: 160%;
      text-transform: unset;
      text-decoration: none;
    }

    .testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz {
      display: flex;
      align-items: end;
      justify-content: start;
      gap: 4px;
      margin-top: 6px;
    }

    .testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz svg,
    .testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz img {
      display: block;
      width: 16px;
      height: 16px;
      object-fit: cover;
    }

    .testimonials-circle-icon-template--23045103190345__ss_testimonials_30_ktwRiz {
      width: px;
      height: px;
    }

    .testimonials-circle-icon-template--23045103190345__ss_testimonials_30_ktwRiz img,
    .testimonials-circle-icon-template--23045103190345__ss_testimonials_30_ktwRiz svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .testimonials-circle-icon-template--23045103190345__ss_testimonials_30_ktwRiz svg path {
      fill: ;
    }

    .testimonials-circle-icon-template--23045103190345__ss_testimonials_30_ktwRiz svg circle {
      stroke: ;
    }

    @media(min-width: 1024px) {

      .section-template--23045103190345__ss_testimonials_30_ktwRiz {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0rem;
        margin-right: 0rem;
        border-radius: 0px;
      }

      .section-template--23045103190345__ss_testimonials_30_ktwRiz-settings {
        padding: 0 5rem;
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: 0rem;
        padding-right: 0rem;
      }

      .testimonials-heading-template--23045103190345__ss_testimonials_30_ktwRiz {
        text-align: left;
        padding: 0 50px;
      }

      .testimonials-heading-template--23045103190345__ss_testimonials_30_ktwRiz * {
        font-size: 36px;
      }

      .testimonials-subheading-template--23045103190345__ss_testimonials_30_ktwRiz {
        margin-top: 12px;
        text-align: left;
        padding: 0 50px;
      }

      .testimonials-subheading-template--23045103190345__ss_testimonials_30_ktwRiz * {
        font-size: 16px;
      }


      .testimonials-scrolling-template--23045103190345__ss_testimonials_30_ktwRiz {
        margin-top: 32px;
      }

      .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz {
        gap: 10px;
      }

      .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz:first-child .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
        -webkit-animation: tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz 171s infinite linear;
        animation: tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz 171s infinite linear;
      }

      .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz:last-child .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
        -webkit-animation: tickerDowntemplate23045103190345__ss_testimonials_30_ktwRiz 171s infinite linear;
        animation: tickerDowntemplate23045103190345__ss_testimonials_30_ktwRiz 171s infinite linear;
        margin-top: 10px;
      }

      .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
        gap: 10px;
      }

      .testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz {
        width: 600px;
      }

      .testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz {
        padding: 20px 20px;
        justify-content: start;
      }

      .testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz {
        justify-content: start;
        margin-top: 10px;
        font-size: 14px;
        text-align: left;
      }

      .testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz::before {
        width: 50px;
      }

      .testimonials-title-template--23045103190345__ss_testimonials_30_ktwRiz {
        margin-top: px;
        font-size: 18px;
        text-align: left;
      }

      .testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz {
        margin-top: 18px;
        text-align: left;
      }

      .testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz * {
        font-size: 13px;
      }

      .testimonials-bottom-template--23045103190345__ss_testimonials_30_ktwRiz {
        margin-top: 6px;
      }

      .testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz {
        justify-content: start;
        margin-top: 6px;
      }

      .testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz svg,
      .testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz img {
        width: 18px;
        height: 18px;
      }

      .testimonials-circle-icon-template--23045103190345__ss_testimonials_30_ktwRiz {
        width: px;
        height: px;
      }
    }
  </style>










  <style>
    .testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz {
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      font-style: normal;
    }
  </style>







  <style>
    @keyframes tickerUptemplate23045103190345__ss_testimonials_30_ktwRiz {
      0% {
        transform: translateX(0%);
      }

      100% {
        transform: translateX(-100%);
      }
    }

    @keyframes tickerDowntemplate23045103190345__ss_testimonials_30_ktwRiz {
      0% {
        transform: translateX(-100%);
      }

      100% {
        transform: translateX(0%);
      }
    }
  </style>



  <style>
    .testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz:hover .testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz {
      animation-play-state: paused;
    }
  </style>








  <div class="section-template--23045103190345__ss_testimonials_30_ktwRiz testimonials-template--23045103190345__ss_testimonials_30_ktwRiz" style="background-color:#ffffff; background-image: ;">
    <div class="section-template--23045103190345__ss_testimonials_30_ktwRiz-settings">

      <div class="testimonials-heading-template--23045103190345__ss_testimonials_30_ktwRiz">
        <h2 class="card-title">{{ section.settings.heading1 }}</h2>
      </div>


      <div class="testimonials-subheading-template--23045103190345__ss_testimonials_30_ktwRiz">
        <p class="card-text">{{ section.settings.richtext1 }}</p>
      </div>

      <div class="testimonials-scrolling-template--23045103190345__ss_testimonials_30_ktwRiz">
        <div class="testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz">


          <div class="testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz">


            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image1 != blank -%}
        {{- section.settings.image1 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext2 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p>They were moist, flavorful, and surprisingly light. My kids devoured them, and even my picky
                    husband went back for seconds. I'll definitely be making these again.</p>
                </div>


                <p class="card-text">{{ section.settings.richtext3 }}</p>

              </div>
            </a>

            <a href="/pages/404-2" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image2 != blank -%}
        {{- section.settings.image2 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext4 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <defs>
                      <linearGradient id="gradtemplate--23045103190345__ss_testimonials_30_ktwRiz10">
                        <stop offset="0%" stop-color="#9c5455"></stop>
                        <stop offset="50%" stop-color="#9c5455"></stop>
                        <stop offset="50%" stop-color="transparent"></stop>
                        <stop offset="100%" stop-color="transparent"></stop>
                      </linearGradient>
                    </defs>

                    <path stroke="#9c5455" d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="url(#gradtemplate--23045103190345__ss_testimonials_30_ktwRiz10)"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p>The matcha flavor is subtle and delicious, and the combination of protein powder and healthy fats
                    keeps me feeling full and satisfied.</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Chalsey Smith
                </p>

              </div>
            </a>

            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image3 != blank -%}
        {{- section.settings.image3 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext5 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p>I've been trying to incorporate more plant-based protein into my diet, and this recipe was the
                    perfect way to do it. The bread itself is incredibly flavorful and surprisingly moist.</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Amanda Johnson
                </p>

              </div>
            </a>
            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image4 != blank -%}
        {{- section.settings.image4 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext6 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p>I've been trying to incorporate more plant-based protein into my diet, and this recipe was the
                    perfect way to do it. The bread itself is incredibly flavorful and surprisingly moist.</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Amanda Johnson
                </p>

              </div>
            </a>

          </div>


        </div>

        <!-- Deuxième ligne d'avis-->

        <div class="testimonials-wrapper-template--23045103190345__ss_testimonials_30_ktwRiz">

          <div class="testimonials-list-template--23045103190345__ss_testimonials_30_ktwRiz">


            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image5 != blank -%}
        {{- section.settings.image5 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="testimonials-title-template--23045103190345__ss_testimonials_30_ktwRiz">Surprisingly delicious
                </p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p>I've been struggling to find healthy snacks that don't leave me feeling deprived, and these cookies
                    hit the spot. They're perfect for a post-workout treat or a mid-afternoon pick-me-up.</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Jessica Brown
                </p>

              </div>
            </a>
            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image6 != blank -%}
        {{- section.settings.image6 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="testimonials-title-template--23045103190345__ss_testimonials_30_ktwRiz">Surprisingly delicious
                </p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p>I've been struggling to find healthy snacks that don't leave me feeling deprived, and these cookies
                    hit the spot. They're perfect for a post-workout treat or a mid-afternoon pick-me-up.</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Jessica Brown
                </p>

              </div>
            </a>

            <div class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image7 != blank -%}
        {{- section.settings.image7 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="testimonials-title-template--23045103190345__ss_testimonials_30_ktwRiz">Delicious &amp; easy
                </p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p>The chocolate flavor is rich and decadent, and it completely masks any 'protein powder' taste. I've
                    even fooled some of my friends into thinking it's just a regular chocolate smoothie!</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Taylor Miller
                </p>

              </div>
            </div>

            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image8 != blank -%}
        {{- section.settings.image8 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext7 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p>I'm always on the go, and these are the perfect healthy and delicious snack to keep me fueled (like
                    a healthier version of a chocolate truffle!).</p>
                </div>


                <p class="card-text">{{ section.settings.richtext8 }}</p>

              </div>
            </a>





            <div class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image9 != blank -%}
        {{- section.settings.image9 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="testimonials-title-template--23045103190345__ss_testimonials_30_ktwRiz">Delicious &amp; easy
                </p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p>The chocolate flavor is rich and decadent, and it completely masks any 'protein powder' taste. I've
                    even fooled some of my friends into thinking it's just a regular chocolate smoothie!</p>
                </div>


                <p class="testimonials-author-text-template--23045103190345__ss_testimonials_30_ktwRiz">Taylor Miller
                </p>

              </div>
            </div>

            <a href="#" class="testimonials-card-template--23045103190345__ss_testimonials_30_ktwRiz">
              <div class="testimonials-image-template--23045103190345__ss_testimonials_30_ktwRiz">

                {% if section.settings.image10 != blank -%}
        {{- section.settings.image10 | image_url: width: 1080 | image_tag: class: 'card-img-top', loading: 'lazy' -}}
    {%- endif %}

              </div>
              <div class="testimonials-content-template--23045103190345__ss_testimonials_30_ktwRiz">

                <p class="card-text">{{ section.settings.richtext9 }}</p>


                <div class="testimonials-stars-template--23045103190345__ss_testimonials_30_ktwRiz">

                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">

                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="#9c5455"></path>
                  </svg>

                </div>


                <div class="testimonials-text-template--23045103190345__ss_testimonials_30_ktwRiz">
                  <p>I'm always on the go, and these are the perfect healthy and delicious snack to keep me fueled (like
                    a healthier version of a chocolate truffle!).</p>
                </div>


                <p class="card-text">{{ section.settings.richtext10 }}</p>

              </div>
            </a>


          </div>

        </div>

      </div>
    </div>
  </div>

</div>

{% schema %}
{
    "name": "avis",
    "settings": [
        {
            "type": "image_picker",
            "id": "image1",
            "label": "Image 1"
        },
        {
            "type": "image_picker",
            "id": "image2",
            "label": "Image 2"
        },
        {
            "type": "image_picker",
            "id": "image3",
            "label": "Image 3"
        },
        {
            "type": "image_picker",
            "id": "image4",
            "label": "Image 4"
        },
        {
            "type": "image_picker",
            "id": "image5",
            "label": "Image 5"
        },
        {
            "type": "image_picker",
            "id": "image6",
            "label": "Image 6"
        },
        {
            "type": "image_picker",
            "id": "image7",
            "label": "Image 7"
        },
        {
            "type": "image_picker",
            "id": "image8",
            "label": "Image 8"
        },
        {
            "type": "image_picker",
            "id": "image9",
            "label": "Image 9"
        },
        {
            "type": "image_picker",
            "id": "image10",
            "label": "Image 10"
        },
        {
            "type": "text",
            "id": "heading1",
            "label": "Heading 1",
            "default": "In your own words"
        },
        {
            "type": "richtext",
            "id": "richtext1",
            "label": "Richtext 1",
            "default": "<p>Discover what makes it special from the people who use it.</p>"
        },
        {
            "type": "richtext",
            "id": "richtext2",
            "label": "Richtext 2",
            "default": "<p>Healthy treat</p>"
        },
        {
            "type": "richtext",
            "id": "richtext3",
            "label": "Richtext 3",
            "default": "<p>Paula Wilson</p>"
        },
        {
            "type": "richtext",
            "id": "richtext4",
            "label": "Richtext 4",
            "default": "<p>Game changer</p>"
        },
        {
            "type": "richtext",
            "id": "richtext5",
            "label": "Richtext 5",
            "default": "<p>Love this product.</p>"
        },
        {
            "type": "richtext",
            "id": "richtext6",
            "label": "Richtext 6",
            "default": "<p>Love this product.</p>"
        },
        {
            "type": "richtext",
            "id": "richtext7",
            "label": "Richtext 7",
            "default": "<p>Highly recommend!</p>"
        },
        {
            "type": "richtext",
            "id": "richtext8",
            "label": "Richtext 8",
            "default": "<p>Bobby Lee</p>"
        },
        {
            "type": "richtext",
            "id": "richtext9",
            "label": "Richtext 9",
            "default": "<p>Highly recommend!</p>"
        },
        {
            "type": "richtext",
            "id": "richtext10",
            "label": "Richtext 10",
            "default": "<p>Bobby Lee</p>"
        }
    ],
    "presets": [
        {
            "name": "avis"
        }
    ]
}
{% endschema %}